<app-navbar></app-navbar>

<div class="container p-3">
  <div class="row d-flex justify-content-center">
    <h1 class="text-center">home works!</h1>

  </div>
</div>

<!-- <div class="container justify-content-center">
  <div class="row">
    <div class="col">

      <nz-radio-group class="m-3" [(ngModel)]="radioValue" (ngModelChange)="changeLanguage($event)">
        <label nz-radio-button nzValue="th">TH</label>
        <label nz-radio-button nzValue="en">EN</label>
      </nz-radio-group>

      <button [routerLink]="[ '/']" class="btn btn-primary m-3">
        <i nz-icon nzType="like" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div> -->
